input{
    display: flex;
    flex-direction: column;
}
.form{
    padding: 10px 10px;
    display: flex;
    justify-content: center;
   
}
input[type = text] {
margin: 10px 10px;
}
input[type = submit]{
    margin: 10px 10px;
}